/* font size */
.small {
  font-size: 24px;
  line-height: 32px;
}

.medium {
  font-size: 32px;
  line-height: 48px;
}

.large {
  font-size: 64px;
  line-height: 96px;
}

/* font weight */
.regular {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

/* font color */
.dark {
  color: var(--color-black);
}

.lighter {
  color: var(--color-primary-lighter);
}

.lightest {
  color: var(--color-primary-lightest);
}

.white {
  color: var(--color-white);
}