/* font size */
.small {
  font-size: 14px;
  line-height: 16px;
}

.medium {
  font-size: 16px;
  line-height: 24px;
}

.large {
  font-size: 20px;
  line-height: 32px;
}

/* font weight */
.regular {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

/* font color */
.dark {
  color: var(--color-black);
}

.lighter {
  color: var(--color-primary-lighter);
}

.lightest {
  color: var(--color-primary-lightest);
}

.white {
  color: var(--color-white);
}

/* text align */
.center {
  text-align: center;
}

.start {
  text-align: start;
}