.info_container {
  padding-right: 99px;
  padding-bottom: 36px;
  display: grid;
  gap: 94px;

  .section1_container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 105px;


    height: 400px;

    .section1_img {
      display: block;
      width: 477px;
      height: 308px;
      border: 10px solid var(--color-primary-main);

      object-fit: cover;
      object-position: center center;
    }
  }

  .section_others_container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;

    .section_other_container {
      display: grid;
      gap: 16px;
    }
  }
}