/* Desktop size 1440*1024 */
.navbar_container {
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  height: 100vh;
  background-color: var(--color-primary-main);
  padding-top: 233px;

  .menu_container {
    margin: 0 25px;

    // .name_container {

    // }
    .menu_item_container {
      margin-top: 86px;

      display: grid;
      grid-auto-flow: row;
      gap: 50px;

      .menu_item:hover {
       cursor: pointer;
      }

      .menu_item_selected {
        background-color: var(--color-primary-lighter-trans);
        border-bottom: 1px var(--color-primary-lightest) solid;
      }
    }
  }
  
}