@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Reenie+Beanie&display=swap');

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-primary-main: #8E936D;
  --color-primary-lighter: #CED0C0;
  --color-primary-lightest: #EEEFE9;

  --color-primary-lighter-trans: #CED0C034;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-primary-lightest);
}

