:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-primary-main: #8E936D;
  --color-primary-lighter: #CED0C0;
  --color-primary-lightest: #EEEFE9;

  --color-primary-lighter-trans: #CED0C034;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary-lightest);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

